:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1440px;
    height: 1316px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 60px;
    position: absolute;
    width: 1440px;
    height: 1108px;
    top: 0;
    left: 0;
    padding: 60px 170px 60px 170px;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    width: 1111px;
    height: 777px;
    z-index: 1;
}
.title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 520px;
    height: 48px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    white-space: nowrap;
    z-index: 2;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 40px;
    position: relative;
    min-width: 0;
    padding: 20px 0 20px 0;
    z-index: 3;
}
.row {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 40px;
    position: relative;
    z-index: 4;
}
.article {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    padding: 16px 16px 16px 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 5;
    border-radius: 6px;
}
.image-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 6;
    overflow: hidden;
}
.image {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    min-height: 0;
    background: rgba(216, 216, 216, 0.5);
    z-index: 7;
}
.frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    z-index: 8;
}
.title-1 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}
.subtitle {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
}
.modify-delete {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 74px;
    height: 84px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    text-overflow: initial;
    z-index: 11;
    overflow: hidden;
}
.row-2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 40px;
    position: relative;
    z-index: 12;
}
.article-3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    padding: 16px 16px 16px 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 13;
    border-radius: 6px;
}
.image-container-4 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 14;
    overflow: hidden;
}
.image-5 {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    min-height: 0;
    background: rgba(216, 216, 216, 0.5);
    z-index: 15;
}
.frame-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    z-index: 16;
}
.title-7 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
}
.subtitle-8 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
}
.modify-delete-9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 74px;
    height: 84px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    text-overflow: initial;
    z-index: 19;
    overflow: hidden;
}
.row-a {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 40px;
    position: relative;
    z-index: 20;
}
.article-b {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    padding: 16px 16px 16px 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 21;
    border-radius: 6px;
}
.image-container-c {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 22;
    overflow: hidden;
}
.image-d {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    min-height: 0;
    background: rgba(216, 216, 216, 0.5);
    z-index: 23;
}
.frame-e {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    z-index: 24;
}
.title-f {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
}
.subtitle-10 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
}
.modify-delete-11 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 74px;
    height: 84px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    text-overflow: initial;
    z-index: 27;
    overflow: hidden;
}
.row-12 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 40px;
    position: relative;
    z-index: 28;
}
.article-13 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    padding: 16px 16px 16px 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 29;
    border-radius: 6px;
}
.image-container-14 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 30;
    overflow: hidden;
}
.image-15 {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    min-height: 0;
    background: rgba(216, 216, 216, 0.5);
    z-index: 31;
}
.frame-16 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    z-index: 32;
}
.title-17 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
}
.subtitle-18 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 34;
}
.modify-delete-19 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 74px;
    height: 84px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    text-overflow: initial;
    z-index: 35;
    overflow: hidden;
}
.row-1a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 40px;
    position: relative;
    width: 1100px;
    z-index: 36;
}
.article-1b {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    min-width: 0;
    padding: 16px 16px 16px 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 37;
    border-radius: 6px;
}
.image-container-1c {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 38;
    overflow: hidden;
}
.image-1d {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    min-height: 0;
    background: url(./assets/images/f646f48a-05cd-402d-8118-8701a92f390d.png)
    no-repeat center;
    background-size: cover;
    z-index: 39;
}
.frame-1e {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    z-index: 40;
}
.board-creation {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 41;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: absolute;
    width: 1440px;
    height: 76px;
    top: 0;
    left: 0;
    padding: 20px 20px 20px 20px;
    background: #ffffff;
    z-index: 42;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
}
.trello {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 36px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 43;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 40px;
    position: relative;
    width: 223px;
    background: #ffffff;
    z-index: 44;
}
.home-tab {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
}
.about-tab {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 46;
}
.contact-tab {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 47;
}
.vector {
    flex-shrink: 0;
    position: absolute;
    height: 0.5px;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(./assets/images/3f8e6596-64e7-4e89-aab2-7eb3a3cb50a7.png)
    no-repeat center;
    background-size: cover;
    z-index: 48;
}
.section-1f {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 60px;
    position: absolute;
    width: 1440px;
    height: 220px;
    top: 1096px;
    left: 0;
    padding: 60px 60px 60px 60px;
    z-index: 49;
    overflow: hidden;
}
.container-20 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 60px;
    position: relative;
    width: 673px;
    height: 100px;
    z-index: 50;
}
.trello-title {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 120px;
    min-height: 0;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    z-index: 51;
}
.terms-of-service-title {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 150px;
    min-height: 0;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    z-index: 52;
}
.privacy-policy-title {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 124px;
    min-height: 0;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    z-index: 53;
}
.contact-us-title {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 99px;
    min-height: 0;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    z-index: 54;
}

.board-color{
    visibility: hidden;
}
.create-btn-wrap{
    float:right;
    width: 1111px;
    text-align: end;
}
#board-create-btn {
    border-radius: 5px;
    border: none;
    background-color: #ddd;
    padding: 14px 20px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
