<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>트렐로 카드 상세정보</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="/css/card.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
        <div class="section">
            <div class="container">
                <span class="title" th:text="${card.cardName}">카드 이름</span>
                <div class="tab-group">
                    <button class="tab"><span class="title-1" th:text="${card.columns.board.boardName}">속해있는 보드명</span></button>
                    <button class="tab-2"><span class="title-3" th:text="${card.columns.columnsName}">속해있는 컬럼명</span></button>
                </div>
            </div>
            <div class="vector"></div>
        </div>
        <div class="section-4">
            <div class="container-5"><span class="title-6" th:text="${card.cardDescription}">카드 내용</span></div>
            <div class="list">
                <th:block th:if='${not #strings.isEmpty(card.deadLine)}'>
                    <div class="row">
                        <div class="article">
                            <div class="frame">
                                <span class="title-7" >마감일<br/></span>
                                <span class="subtitle" th:text="${card.deadLine}">2022-01-01</span>
                            </div>
                        </div>
                    </div>
                </th:block>

                <th:block th:if='${not #strings.isEmpty(card.worker)}'>
                    <div class="row">
                        <div class="article">
                            <div class="frame">
                                <span class="title-7">작업자<br/></span>
                                <span class="subtitle" th:text="${card.worker}">test@test.com</span>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="vector-b"></div>
        </div>
        <div class="section-c">
            <div class="list-d">
                <div class="row-e">
                    <div class="article-f">
                        <div class="frame-10">
                            <span class="title-11" th:text="${userEmail}">유저 이메일</span>
                            <span class="subtitle-12"><input id="createCommentContents" type="text" style="width:100%"></span>
                            <span class="subtitle-12"><button id="createCommentBtn">등록</button></span>
                        </div>
                        <div class="image-container"></div>
                    </div>
                </div>
                <div class="row-e" th:each="comment : ${comment}">
                    <div class="article-f">
                        <div class="frame-10">
                            <span class="title-11" th:text="${comment.user.email}">유저 이메일</span>
                            <span class="subtitle-12 contents" th:text="${comment.contents}"></span>
                            <span class="subtitle-12">
                                <button class="updateCommentBtn" th:attrprepend="data=${comment.id}">수정</button>
                                <button class="deleteCommentBtn" th:attrprepend="data=${comment.id}">삭제</button>
                            </span>
                        </div>
                        <div class="image-container"></div>
                    </div>
                </div>
            </div>
            <div class="vector-1d"></div>
        </div>
    </div>
</body>

<script>
    document.querySelector("#createCommentBtn").addEventListener("click", async () => {
        const contents = document.querySelector("#createCommentContents").value;
        const data = {
            "card":{
                "id":[[${card.id}]]
            },
            "contents":contents
        }
        fetch("/api/user/cards/comments", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        }).then(async (res) => {
            if (res.status !== 200) {
                throw new Error(res.statusText);
            }
            let json = await res.json();
            const commentList = document.querySelector(".list-d");
            commentList.insertAdjacentHTML('beforeend', `<div class="row-e">
                    <div class="article-f">
                        <div class="frame-10">
                            <span class="title-11">[[${userEmail}]]</span>
                            <span class="subtitle-12 contents">${json.contents}</span>
                            <span class="subtitle-12"><button class="deleteCommentBtn" data="${json.id}">삭제</button></span>
                            <span class="subtitle-12"><button class="updateCommentBtn" data="${json.id}">수정</button></span>
                        </div>
                        <div class="image-container"></div>
                    </div>
                </div>`)
            document.querySelector("#createCommentContents").value = "";
        });
    });

    const deleteBtnList = document.querySelectorAll(".deleteCommentBtn");
    [].forEach.call(deleteBtnList, (el) => {
        el.addEventListener("click", (el) => {
            fetch("/api/user/cards/comments/" + el.target.getAttribute("data"), {
                method: "DELETE"
            }).then(async (res) => {
                if (res.status !== 200) {
                    throw new Error(res.statusText);
                }
                el.target.parentNode.parentNode.parentNode.remove();
            });
        });
    });

    $.each($(".updateCommentBtn"), (idx, el) => {
        $(el).bind("click", (el)=>{
            const comment_val = $(el.currentTarget).parent().parent().children(".contents").text();
            $(el.currentTarget).parent().parent().children(".contents").html(`<input class="createCommentContents" value="${comment_val}" type="text" style="width:100%">`);
            $(el.currentTarget).parent().children(".updateCommentBtn").unbind("click")
            $(el.currentTarget).parent().children(".updateCommentBtn").html(`등록`);
            $(el.currentTarget).parent().children(".updateCommentBtn").bind("click", (el) => {
                fetch("/api/user/cards/comments/" + el.target.getAttribute("data"), {
                    method: "PATCH",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        "contents":$(el.currentTarget).parent().parent().children(".contents").children().val()
                    }),
                }).then(async (res) => {
                    if (res.status !== 200) {
                        throw new Error(res.statusText);
                    }
                    location.reload();
                });
            });
        });
    });
</script>
</html>