<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/css/kanban.css" rel="stylesheet" type="text/css">
    <script src="/js/kanban.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/muuri/0.4.0/muuri.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<section class="kanban-demo">

    <h2 class="section-title"><span>Kanban Demo</span></h2>

    <div class="board">
        <div class="board-column todo" th:each="column : ${columns}" data-th-id="${column.board.id}">
            <div class="board-column-header" data-th-id="${column.id}" th:text="${column.columnsName}">

            </div>

            <button name="editButton" onclick="editColumn(this)">Edit</button>
            <button name="deleteButton" onclick="deleteColumn(this)">Delete</button>

            <div class="board-column-content">
                <div class="board-item" th:each="card : ${column.cardList}">
                    <div class="board-item-content" th:text="${card.cardName}">1</div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
<script th:inline="javascript">
    function editColumn(button) {
        const columnDiv = button.closest('.todo');
        const headerElement = columnDiv.querySelector('.board-column-header');
        const boardId = columnDiv.getAttribute('id');
        const columnId = headerElement.getAttribute('id');
        const newColumnName = prompt('새로운 컬럼 이름을 입력하세요:', headerElement.textContent);

        if (columnId !== null) {
            const data = {
                columnsName: newColumnName
            };

            fetch('/api/user/boards/'+ boardId + '/columns/' + columnId, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => {
                    if (response.redirected) {
                        // 리다이렉션이 발생한 경우
                        window.location.href = response.url;  // 리다이렉션 수행
                    } else if (!response.ok) {
                        // 리다이렉션이 발생하지 않고, 응답이 실패한 경우
                        throw new Error('Network response was not ok');
                    } else {
                        // 리다이렉션이 발생하지 않고, 응답이 성공한 경우
                        return response.json();
                    }
                })
                .then(result => {
                    if (!result) {
                        // 리다이렉션이 발생한 경우에는 여기까지 오지 않을 것이므로 주의
                        console.error('Invalid response:', result);
                        return;
                    }
                    console.log(result);
                    headerElement.textContent = newColumnName;
                })
                .catch(error => {
                    console.error('Error:', error);
                });

        }
    }


    function deleteColumn(button) {
        const columnDiv = button.closest('.todo');
        const headerElement = columnDiv.querySelector('.board-column-header');
        const boardId = columnDiv.getAttribute('id');
        const columnId = headerElement.getAttribute('id');
        // 여기에서 열 삭제 로직 구현
        const confirmDelete = confirm('삭제하시겠습니까?');
        if (confirmDelete) {

            fetch('/api/user/boards/' + boardId + '/columns/' + columnId, {
                method : 'DELETE',
                headers: {
                    'Content-Type': 'application/json',

                },

            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`)
                    }
                    return response.json();
                })
                .then(data => {
                    alert('삭제완료');
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }
</script>
</html>