<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/css/kanban.css" rel="stylesheet" type="text/css">
    <script src="/js/kanban.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/muuri/0.4.0/muuri.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<section class="kanban-demo">

    <h2 class="section-title">
        <span>Kanban Demo</span>
        <div><button onclick="addColumn()">등록</button></div>
    </h2>

    <div class="board">
        <div class="board-column todo" th:each="column, index : ${columns}" data-th-id="${column.id}" th:attrprepend="sort=${index.count}">
            <div class="board-column-header" data-th-id="${column.id}" th:text="${column.columnsName}">

            </div>

            <button name="editButton" onclick="editColumn(this)">수정</button>
            <button name="deleteButton" onclick="deleteColumn(this)">삭제</button>
            <button name="cardAddButton" onclick="openAddCardModal(this)">카드</button>

            <div class="board-column-content">
                <div class="board-item" th:each="card : ${column.cardList}">
                    <div class="board-item-content" th:text="${card.cardName}">카드이름</div>
                </div>
            </div>
        </div>
    </div>

</section>
<div id="addCardModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddCardModal()">&times;</span>
        <h2>Add Card</h2>
        <form id="addCardForm">
            <label for="cardName">Card Name:</label>
            <input type="text" id="cardName" name="cardName" required>

            <label for="cardDescription">Card Description:</label>
            <textarea id="cardDescription" name="cardDescription"></textarea>

            <label for="cardColor">Card Color:</label>
            <input type="color" id="cardColor" name="cardColor">

            <label for="file">File:</label>
            <input type="file" id="file" name="file">

            <label for="deadline">Deadline:</label>
            <input type="date" id="deadline" name="deadline">

            <label for="worker">Worker:</label>
            <input type="text" id="worker" name="worker">

            <button type="button" onclick="cardAdd()">Add Card</button>
        </form>
    </div>
</div>
</body>
<script th:inline="javascript">
    let columnNum = 1;
    const boardId = [[${boardId}]];

    function cardAdd(){
        const cardName = document.getElementById('cardName').value;
        const cardDescription = document.getElementById('cardDescription').value;
        const cardColor = document.getElementById('cardColor').value;
        const fileInput = document.getElementById('file');
        const file = fileInput.files[0];
        const deadline = document.getElementById('deadline').value;
        const worker = document.getElementById('worker').value;

        // Validate 검사

        const formData = new FormData();
        formData.append('cardName', cardName);
        formData.append('cardDescription', cardDescription);
        formData.append('cardColor', cardColor);
        formData.append('file', file);
        formData.append('deadline', deadline);
        formData.append('worker', worker);
        //TODO
        //order, column id 넣기

        fetch('/api/cards', {
            method: 'POST',
            body: formData,
        })
            .then(data => {
                closeAddCardModal();
                location.reload();
            })
    }

    function addColumn(){
        const newColumnName = prompt('등록할 컬럼 이름을 입력하세요.');
        if(newColumnName == null) return;

        document.querySelector(".board").insertAdjacentHTML('beforeend', `
            <div class="board-column todo">
                <div class="board-column-header">
                ${newColumnName}
                </div>
                <button name="editButton" onclick="editColumn(this)">수정</button>
                <button name="deleteButton" onclick="deleteColumn(this)">삭제</button>
                <button name="cardAddButton" onclick="openAddCardModal(this)">카드</button>
                <div class="board-column-content">
                </div>
            </div>
        `);

        columnNum ++;
        kanbanRelaod();

        fetch('/api/user/boards/'+ boardId + '/columns', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                "board":{
                    "id":boardId
                },
                "columnsName":newColumnName,
                "columnsOrder":1
            }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }


    function editColumn(button) {
        const columnId = button.parentNode.getAttribute("id");
        const newColumnName = prompt('새로운 컬럼 이름을 입력하세요:', button.parentNode.childNodes[1].textContent);

        if (columnId !== null) {
            const data = {
                columnsName: newColumnName
            };

            fetch('/api/user/boards/'+ boardId + '/columns/' + columnId, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(() => {
                button.parentNode.childNodes[1].textContent = newColumnName;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }

    function deleteColumn(button) {
        const columnDiv = button.closest('.todo');
        const headerElement = columnDiv.querySelector('.board-column-header');
        const columnId = headerElement.getAttribute('id');
        const confirmDelete = confirm('삭제하시겠습니까?');
        if (confirmDelete) {
            fetch('/api/user/boards/columns/' + columnId, {
                method : 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`)
                }
                alert('삭제완료');
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }

    function kanbanRelaod() {
        var docElem = document.documentElement;
        var kanban = document.querySelector('.kanban-demo');
        var board = kanban.querySelector('.board');
        var itemContainers = Array.prototype.slice.call(kanban.querySelectorAll('.board-column-content'));
        var columnGrids = [];
        var dragCounter = 0;
        var boardGrid;

        itemContainers.forEach(function (container) {

            var muuri = new Muuri(container, {
                items: '.board-item',
                layoutDuration: 400,
                layoutEasing: 'ease',
                dragEnabled: true,
                dragSortInterval: 0,
                dragSortGroup: 'column',
                dragSortWith: 'column',
                dragContainer: document.body,
                dragReleaseDuration: 400,
                dragReleaseEasing: 'ease'
            })
                .on('dragStart', function (item) {
                    ++dragCounter;
                    docElem.classList.add('dragging');
                    item.getElement().style.width = item.getWidth() + 'px';
                    item.getElement().style.height = item.getHeight() + 'px';
                })
                .on('dragEnd', function (item) {
                    if (--dragCounter < 1) {
                        docElem.classList.remove('dragging');

                    }
                })
                .on('dragReleaseEnd', function (item) {
                    item.getElement().style.width = '';
                    item.getElement().style.height = '';
                    columnGrids.forEach(function (muuri) {
                        muuri.refreshItems();
                    });

                })
                .on('layoutStart', function () {
                    boardGrid.refreshItems().layout();
                });

            columnGrids.push(muuri);

        });

        boardGrid = new Muuri(board, {
            layoutDuration: 400,
            layoutEasing: 'ease',
            dragEnabled: true,
            dragSortInterval: 0,
            dragStartPredicate: {
                handle: '.board-column-header'
            },
            dragReleaseDuration: 400,
            dragReleaseEasing: 'ease'
        });

    }

    // Add Card Modal
    const addCardModal = document.getElementById('addCardModal');
    const addCardForm = document.getElementById('addCardForm');

    function openAddCardModal() {
        addCardModal.style.display = 'block';
    }

    function closeAddCardModal() {
        addCardForm.reset();
        addCardModal.style.display = 'none';
    }
</script>
</html>